<!doctype html>
<html>
    <head>
        
    </head>
        <body>
            <div id="photo" border=1>
                <left>
                 <a href="C:\Users\Samantha\Pictures\Camera Roll"></a>
                </left>
            </div>
            <div id= "name" border= 1>
                <right>
                Samantha Riley
                </right>
            </div>
            <div id="date" border= 1>
                <right>
                Today is: time info()
                </right>
            </div>
            <div id= "profile" border= 1>
                <right>
                profile()    
                </right>
            </div>
        </body>
</html>